<div id="all">
    <div class="titulo">
        <h1>Login</h1>
    </div>
    <form [formGroup]="formClient">
    <div class="cards">
            <div class="campos-login">
                <label for="email">E-mail:</label>
                <input formControlName="nome" type="text" name="email" id="email" placeholder="Digite aqui">
            </div>

            <div class="campos-login">
                <label for="senha" class="label">Senha:</label>
                <input formControlName="senha" type="text" name="senha" id="senha" placeholder="Digite aqui">
            </div>

            <button type="submit" class="btn-entrar">Entrar</button>

        </div>
    </form>
</div>