<div class="cards">
<form action="">
    <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome">
    </div>

    <div>
        <label for="email" class="label">E-mail:</label>
        <input type="text" name="email">
    </div>

    <div>
        <label for="cpf">CPF:</label>
        <input type="number" name="cpf">
    </div>

    <div>
        <label for="endereco">Endereço:</label>
        <input type="number" name="endereco">
    </div>

    <button>Cadastrar</button>

</form>
</div>
