<div id="all">
    <div class="titulo">
        <h1>Cadastro</h1>
    </div>
    <form [formGroup]="formClient" (ngSubmit)="cadastrar()">
        <div class="cards">

            <div class="nome">
                <label for="nome">Nome:</label>
                <input formControlName="nome" type="text" name="nome" id="nome" placeholder="Digite seu nome" />
            </div>

            <div class="email">
                <label for="email">E-mail:</label>
                <input formControlName="email" type="text" name="email" id="email" placeholder="Digite seu e-mail" />
            </div>

            <div class="cpf">
                <label for="cpf">CPF:</label>
                <input formControlName="cpf" type="number" name="cpf" id="cpf" placeholder="Digite seu CPF" />
            </div>

            <div class="endereco">
                <label for="endereco">Endereço:</label>
                <input formControlName="endereco" type="text" name="endereco" id="endereco" placeholder="Digite seu endereço" />
            </div>

            <div class="telefone">
                <label for="telefone">Telefone:</label>
                <input formControlName="telefone" type="number" name="telefone" id="telefone" placeholder="Digite seu telefone" />
            </div>

            <div class="senha">
                <label for="senha">Senha:</label>
                <input formControlName="senha" type="text" name="senha" id="senha" placeholder="Digite sua senha" />
            </div>

            <button type="submit" class="btn-cadastrar">Cadastrar</button>

        </div>
    </form>
</div>