.nome, .valor {
    margin: 0px 480px;
    display: inline-block;
    font-size: 20px;
}
.nome input, .valor input {
    margin: 10px 10px 10px 20px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 5px;
    border-color: black;
}
.btn-cadastrar {
    margin-left: 620px;
    margin-top: 10px;
    padding: 8px 30px;
    background-color: #000000;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}